
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=

# Cloudinary details
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_MEDIA_URL=

# CSRF Trust
CSRF_TRUST= 

# Database details
USERNAME=
PASSWORD=
DATABASE_HOST=
PG_PORT=
DATABASE_URL=
DATABASE_POOLED_URL=

DEBUG=
DJANGO_ALLOWED_HOSTS=