asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.4.9
cloudinary==1.45.0
dj-database-url==3.1.2
dj3-cloudinary-storage==0.0.6
Django==5.2.17
django-cloudinary-storage==0.3.0
django-csp==4.0
gunicorn==26.0.0
idna==3.18
packaging==26.3
pillow==12.3.0
psycopg2==2.9.12
psycopg2-binary==2.9.12
python-decouple==3.8
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
