{% extends 'pages/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<h1 class="pb-lg-5 mb-lg-0 pt-lg-5 mt-lg-0 ms-lg-0 ps-lg-5 pt-md-0 ps-md-5 pb-md-0 mb-md-0 pe-md-0" 
    style="background: var(--bs-primary);padding: 2rem!important;/*padding-top: 41px;*//*margin-bottom: -2px;*//*padding-bottom: 0px;*/">
    <strong>Portfolio</strong>
</h1>
<!-- Start: Projects Cards -->
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Welcome!</h2>
            <p class="w-lg-50">
                {{Description}}
            </p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        {% for project in Projects %}
        <div class="col d-flex flex-column">
            <div class="card flex-grow-1">
                <!-- {% load static %} -->
                <img class="card-img-top w-100 d-block fit-cover" 
                    style="height: 200px;" 
                    src="{{project.thumbnail.url}}" />
                <div class="card-body p-4 d-flex flex-column">
                    <p class="text-primary card-text mb-0">
                        {{project.tag}}
                    </p>
                    <h4 class="card-title">
                        {{project.title}}
                    </h4>
                    <p class="card-text flex-grow-1">
                        {{project.description}}
                    </p>
                    <div class="row mb-3">
                        {% if project.document_link %}
                            <div class="col">
                                <a class="text-start bg-primary d-flex justify-content-center btn btn-primary btn-hover" 
                                    href="{{project.document_link}}" 
                                    role="button"
                                    target="_blank"
                                >
                                    Documents
                                </a>
                            </div>
                        {% endif %}
                        {% if project.code %}
                        <div class="col">
                            <a class="text-start bg-primary d-flex justify-content-center btn btn-primary btn-hover" 
                                href="{{project.code}}" 
                                role="button"
                                target="_blank"
                            >
                                GitHub
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% if project.status == 'IsLived' %}
                    <center style="margin-bottom: 20px;">
                        The project is now lived!
                        <a class="text-start bg-primary d-flex justify-content-center btn btn-primary btn-hover" 
                        href="{{project.live_url}}" 
                        role="button"
                        target="_blank"
                        >
                        Visit now!
                        </a>
                    </center>
                    {% endif %}
                    <div class="d-flex">
                        <img class="rounded-circle flex-shrink-0 me-3 fit-cover" 
                            width="50" 
                            height="50" 
                            src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                        <div>
                            <p class="fw-bold mb-0">
                                {{project.author}}
                            </p>
                            <p class="text-muted mb-0">
                                {{project.course_name}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div><!-- End: Projects Cards -->
{% endblock %}